.input{
    display: grid;
    flex-direction: column;
    margin-bottom: 1.5rem;
    &_container > input {
        width: 100%;
        margin-top: 0.9rem;
        padding: 0.2rem 0;
        border-width: 2px;
        border-radius: 1rem;
    }
} 